* {
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

html {
    font-family: "Inconsolata", monospace;
    color: #2d3c49;
}

.container {
    min-width: 360px;
    width: 80%;
    margin: 0 auto;
}

.top-header {
    width: 100%;
    height: 100px;
    border-bottom: 2px solid #7d97ad;
    margin-bottom: 15px;
}

.logo {
    margin: 10px;
    float: left;
    font-size: 70px;
    color: #02b3e4;
}

.top-header-name {
    float: right;
    margin: 10px;
}

.top-header-intro {
    float: right;
    margin: 0 10px;
    clear: right;
}


.content {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.main-intro {
    width: 100%;
    margin: 10px;
}

.project {
    margin: 10px;
    width: calc((100% - 60px) / 3);
    /*height: calc((100vw - 40px) / 6);*/
    transition: width 0.2s;
}

@media (max-width: 750px) {
    .project {
        width: calc((100% - 40px) / 2);
        /*height: calc((100vw - 30px) / 4);*/
    }
}

@media (max-width: 500px) {
    .project {
        width: calc(100% - 20px);
    }
}

.project img {
    width: 100%;
    height: 200px;
}

.project figcaption {
    text-align: center;
}

[class*="zocial-"]:before {
    font-family: 'zocial', sans-serif;
    display: inline-block;
    color: #7d97ad;
    padding: 0 0.5em;
}
